@font-face {
	font-family: 'Conv_ConsolasLigaturized';
	src: url('fonts/ConsolasLigaturized.eot');
	src: local('☺'), url('fonts/ConsolasLigaturized.woff') format('woff'), url('fonts/ConsolasLigaturized.ttf') format('truetype'), url('fonts/ConsolasLigaturized.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 25px 32px;
	font-family: 'Conv_ConsolasLigaturized', Helvetica, sans-serif;
}
